@code{
    [Parameter]
    public bool visibleDelete { get; set; }
    [Parameter]
    public EventCallback CloseDeleteForm { get; set; }
    [Parameter]
    public EventCallback acceptDeleteSinhVien { get; set; }
}

<Drawer Closable="true" Width="500" Visible="visibleDelete" Title='("Xác nhận xóa sinh viên")' OnClose="CloseDeleteForm">
    <Template style="padding: 24px;">
        <div class="ant-drawer-body">
            <p class="text-danger fw-bold">Bạn có chắc chắn muốn xóa sinh viên này không?</p>
        </div>
        <div class="ant-drawer-footer" style="text-align: right; padding: 16px;">
            <Button HtmlType="submit" @onclick="CloseDeleteForm">
                Hủy
            </Button>
            <Button Danger Type="ButtonType.Primary" @onclick="acceptDeleteSinhVien">
                Xác nhận
            </Button>
        </div>
    </Template>
</Drawer>
